@import "../bourbon/bourbon";
@import '../partials/variables'; // colors, fonts etc...
@import '../partials/mixins'; // custom mixins
@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  float: left;
  width: 100%;
  font: {
  size: 1.6rem;
  family: $primary-font; // variables inside partials > _variables.scss
  }

  color: $color-6;
  background-color: shade($color-1, 20%);
  @include font-smoothing;
  &::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
  }
  @include MQ(L) {
    &::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }
}

a {
  color: $color-3;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

h2,
p,
iframe {
  @include vertical-align;
}

p {
  font-style: italic;
  text-transform: capitalize;
}

iframe {
  position: absolute;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

body[data-hijacking="on"] {
  @include MQ(L) {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;

  h2 {
    text-align: center;
    font-size: 2.4rem;
  }

  &:first-of-type > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20px;
      z-index: 2;
      font-weight: bold;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: tint($color-1, 30%);
    }
  }

  &:nth-of-type(2) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(3) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(4) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(5) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(6) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(7) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(8) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(9) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(10) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(11) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(12) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(https://f4.bcbits.com/img/a3153393733_10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(13) > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(14) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(15) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:nth-of-type(15) > div {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(http://cdn2.thelineofbestfit.com/images/remote/https_cdn2.thelineofbestfit.com/media/2014/Holy_Esque_-_At_Hopes_Ravine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }


  @include MQ(L) {
    h2 {
      font-size: 6.0rem;
      font-weight: 300;
    }
    p {
      font-size: 3.4rem;
    }
    [data-hijacking="on"] & {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      > div {
        visibility: visible;
      }
    }
    [data-hijacking="off"] & > div {
      opacity: 0;
    }
    [data-animation="rotate"] & {
      /* enable a 3D-space for children elements */
      @include perspective(1800px);
    }
    [data-hijacking="on"][data-animation="rotate"] &:not(:first-of-type) {
      @include perspective-origin(center 0);
    }
    [data-animation="scaleDown"] & > div,
    [data-animation="gallery"] & > div,
    [data-animation="catch"] & > div {
      // box-shadow: 0 0 40px rgba(darken($color-1, 10%), .4);
      box-shadow: 0 0 0 rgba(darken($color-1, 10%), .4);
    }
    [data-animation="opacity"] &.visible > div {
      z-index: 1;
    }
  }
}

@include MQ(L) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}

.cd-section > div {
  height: 100vh;
  @include MQ(L) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    [data-hijacking="on"] & {
      position: absolute;
    }
    [data-animation="rotate"] & {
      @include transform-origin(center bottom);
    }
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 3%;
  @include center(y);
  display: none;

  a {
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center;

    &.cd-prev {
      @include transform(rotate(180deg));
      margin-bottom: 10px;
    }

    &.inactive {
      visibility: hidden;
      opacity: 0;
      @include transition(opacity 0.2s 0s, visibility 0s 0.2s);
    }
  }

  @include MQ(L) {
    display: block;
  }
}

section {
  height: 100vh;
}

// List View

.list {
  float: left;
  width: 100%;
  background-color: #938ccf;

  h2 {
    font-size: 3.5rem;
    transform: none;
    transform: none;
    top: inherit;
    margin: 40px auto;
  }
  p {
    margin-bottom: 15px;
  }
}

@media (max-width: 1025px) {
  iframe {
    display: none;
  }
}